html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
}

#controls {
    position: absolute;
    top: 12px;
    left: 12px;
    z-index: 1000;
    background: white;
    padding: 10px;
    border-radius: 6px;
    font-family: sans-serif;
    border: 1px solid #ccc;
}
